@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .noob {
    animation: spin 10s linear infinite;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

.text-shpere {
   
  
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    color: gray;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #FF5252;
}